
$app-blue: #028e9b;
$app-blue-dark: #015c65;
$app-blue-light: #35c0cd;
$app-purple: #62247f;
$app-purple-dark: #4c036e;
$app-purple-light: #a43dd4;
$app-orange: #ff7800;
$app-orange-dark: #bf7330;
$app-orange-light: #ffb573;

$app-grey: #878787;
$app-grey-dark: #434343;
$app-grey-light: #b5b5b5;

